In [2]:
from sqlalchemy import create_engine
import importlib.util
import credentials_copy
username = "elliehua"
database = "elliehua"
password = credentials_copy.DB_PASSWORD
db_url = f"postgresql://" + username + ":" + password + "@debprodserver.postgres.database.azure.com:5432/" + database
engine = create_engine(db_url)

In [3]:
%load_ext sql
%sql engine

In [8]:
%%sql
DROP table institution_scorecard_info;

Running query in 'postgresql://elliehua:***@debprodserver.postgres.database.azure.com:5432/elliehua'

++
||
++
++

In [9]:
%%sql
-- Scorecard institutional info 
CREATE TABLE institution_scorecard_info (
    UNITID       INTEGER  NOT NULL,
    YEAR         SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),
    ACCREDAGENCY TEXT,
    PREDDEG      TEXT,
    HIGHDEG      TEXT,
    CONTROL      SMALLINT CHECK (CONTROL IN (1,2,3)),
    REGION       TEXT,

    CONSTRAINT PK_INSTITUTION_SCORECARD_INFO
        PRIMARY KEY (UNITID, YEAR),

    -- Link each Scorecard institution to an IPEDS institution by UNITID only
    CONSTRAINT FK_SCORECARD_IPEDS
        FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

Running query in 'postgresql://elliehua:***@debprodserver.postgres.database.azure.com:5432/elliehua'

++
||
++
++

In [10]:
%%sql
DROP table institution_financial, institution_admissions, institution_completion, institution_earnings;

Running query in 'postgresql://elliehua:***@debprodserver.postgres.database.azure.com:5432/elliehua'

++
||
++
++

In [11]:
%%sql
-- Financial data (Scorecard)
CREATE TABLE institution_financial (
    UNITID        INTEGER  NOT NULL,
    YEAR          SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),
    TUITIONFEE_IN NUMERIC(10,2),
    TUITIONFEE_OUT NUMERIC(10,2),
    TUITIONFEE_PROG NUMERIC(10,2),
    TUITFTE       NUMERIC(10,2),
    AVGFACSAL     NUMERIC(10,2),
    CDR2          REAL CHECK ((CDR2 BETWEEN 0 AND 1) OR CDR2 IS NULL),
    CDR3          REAL CHECK ((CDR3 BETWEEN 0 AND 1) OR CDR3 IS NULL),

    CONSTRAINT PK_INSTITUTION_FINANCIAL
        PRIMARY KEY (UNITID, YEAR),

    -- Every financial row must correspond to a known institution
    CONSTRAINT FK_FINANCIAL_IPEDS
        FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

-- Admissions data (Scorecard)
CREATE TABLE institution_admissions (
    UNITID  INTEGER  NOT NULL,
    YEAR    SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),

    ADM_RATE REAL CHECK (ADM_RATE BETWEEN 0 AND 1),

    -- SAT measures (200–800 or NULL)
    SATVR25  REAL CHECK ((SATVR25 BETWEEN 200 AND 800) OR SATVR25 IS NULL),
    SATVR75  REAL CHECK ((SATVR75 BETWEEN 200 AND 800) OR SATVR75 IS NULL),
    SATMT25  REAL CHECK ((SATMT25 BETWEEN 200 AND 800) OR SATMT25 IS NULL),
    SATMT75  REAL CHECK ((SATMT75 BETWEEN 200 AND 800) OR SATMT75 IS NULL),
    SATWR25  REAL CHECK ((SATWR25 BETWEEN 200 AND 800) OR SATWR25 IS NULL),
    SATWR75  REAL CHECK ((SATWR75 BETWEEN 200 AND 800) OR SATWR75 IS NULL),
    SATVRMID REAL CHECK ((SATVRMID BETWEEN 200 AND 800) OR SATVRMID IS NULL),
    SATMTMID REAL CHECK ((SATMTMID BETWEEN 200 AND 800) OR SATMTMID IS NULL),
    SATWRMID REAL CHECK ((SATWRMID BETWEEN 200 AND 800) OR SATWRMID IS NULL),

    -- ACT measures (1–36 or NULL)
    ACTCM25  REAL CHECK ((ACTCM25 BETWEEN 1 AND 36) OR ACTCM25 IS NULL),
    ACTCM75  REAL CHECK ((ACTCM75 BETWEEN 1 AND 36) OR ACTCM75 IS NULL),
    ACTEN25  REAL CHECK ((ACTEN25 BETWEEN 1 AND 36) OR ACTEN25 IS NULL),
    ACTEN75  REAL CHECK ((ACTEN75 BETWEEN 1 AND 36) OR ACTEN75 IS NULL),
    ACTMT25  REAL CHECK ((ACTMT25 BETWEEN 1 AND 36) OR ACTMT25 IS NULL),
    ACTMT75  REAL CHECK ((ACTMT75 BETWEEN 1 AND 36) OR ACTMT75 IS NULL),
    ACTWR25  REAL CHECK ((ACTWR25 BETWEEN 1 AND 36) OR ACTWR25 IS NULL),
    ACTWR75  REAL CHECK ((ACTWR75 BETWEEN 1 AND 36) OR ACTWR75 IS NULL),
    ACTCMMID REAL CHECK ((ACTCMMID BETWEEN 1 AND 36) OR ACTCMMID IS NULL),
    ACTENMID REAL CHECK ((ACTENMID BETWEEN 1 AND 36) OR ACTENMID IS NULL),
    ACTMTMID REAL CHECK ((ACTMTMID BETWEEN 1 AND 36) OR ACTMTMID IS NULL),
    ACTWRMID REAL CHECK ((ACTWRMID BETWEEN 1 AND 36) OR ACTWRMID IS NULL),

    SAT_AVG REAL CHECK ((SAT_AVG BETWEEN 200 AND 1600) OR SAT_AVG IS NULL),

    CONSTRAINT PK_INSTITUTION_ADMISSIONS
        PRIMARY KEY (UNITID, YEAR),

    CONSTRAINT FK_ADMISSIONS_IPEDS
        FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

-- Completion data (Scorecard)
CREATE TABLE institution_completion (
    UNITID INTEGER  NOT NULL,
    YEAR   SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),

    C150_4       REAL,
    C150_4_WHITE REAL,
    C150_4_BLACK REAL,
    C150_4_HISP  REAL,
    C150_4_ASIAN REAL,
    C150_4_AIAN  REAL,
    C150_4_NHPI  REAL,
    C150_4_2MOR  REAL,
    C150_4_NRA   REAL,
    C150_4_UNKN  REAL,

    CONSTRAINT PK_INSTITUTION_COMPLETION
        PRIMARY KEY (UNITID, YEAR),

    CONSTRAINT FK_COMPLETION_IPEDS
        FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

-- Earnings data (Scorecard)
CREATE TABLE institution_earnings (
    UNITID INTEGER  NOT NULL,
    YEAR   SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),

    MN_EARN_WNE_INC1_P6        REAL,
    MN_EARN_WNE_INC2_P6        REAL,
    MN_EARN_WNE_INC3_P6        REAL,
    MN_EARN_WNE_INDEP0_INC1_P6 REAL,
    MN_EARN_WNE_INDEP0_P6      REAL,
    MN_EARN_WNE_INDEP1_P6      REAL,
    MN_EARN_WNE_MALE0_P6       REAL,
    MN_EARN_WNE_MALE1_P6       REAL,

    CONSTRAINT PK_INSTITUTION_EARNINGS
        PRIMARY KEY (UNITID, YEAR),

    CONSTRAINT FK_EARNINGS_IPEDS
        FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

Running query in 'postgresql://elliehua:***@debprodserver.postgres.database.azure.com:5432/elliehua'

++
||
++
++

In [4]:
%%sql
DROP table institution_ipeds_info, institution_scorecard_info, institution_financial, institution_admissions, institution_completion, institution_earnings;

Running query in 'postgresql://elliehua:***@debprodserver.postgres.database.azure.com:5432/elliehua'

++
||
++
++

In [ ]:
%%sql
-- IPEDS directory data (PARENT for all tables)
CREATE TABLE institution_ipeds_info (
    UNITID INTEGER NOT NULL,
    INSTNM TEXT NOT NULL,
    ADDR TEXT,
    CITY TEXT,
    STABBR CHAR(2),
    ZIP VARCHAR(10),
    FIPS VARCHAR(5),
    COUNTYCD VARCHAR(5),
    COUNTYNM TEXT,
    CBSA VARCHAR(5),
    CBSATYPE SMALLINT CHECK (CBSATYPE IN (1, 2, -2)),
    CSA VARCHAR(3),
    LATITUDE REAL,
    LONGITUD REAL,
    CCBASIC TEXT,
    YEAR SMALLINT CHECK (YEAR BETWEEN 1980 AND 2100),
    CONSTRAINT PK_IPEDS PRIMARY KEY (UNITID)
);

-- Scorecard institutional info 
CREATE TABLE institution_scorecard_info (
    UNITID INTEGER NOT NULL,
    YEAR SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),
    ACCREDAGENCY TEXT,
    PREDDEG TEXT,
    HIGHDEG TEXT,
    CONTROL SMALLINT CHECK (CONTROL IN (1, 2, 3)),
    REGION TEXT,
    CONSTRAINT PK_INSTITUTION_SCORECARD_INFO PRIMARY KEY (UNITID, YEAR),
    -- Link each Scorecard institution to an IPEDS institution by UNITID only
    CONSTRAINT FK_SCORECARD_IPEDS FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

-- Financial data (Scorecard)
CREATE TABLE institution_financial (
    UNITID INTEGER NOT NULL,
    YEAR SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),
    TUITIONFEE_IN NUMERIC(10,2),
    TUITIONFEE_OUT NUMERIC(10,2),
    TUITIONFEE_PROG NUMERIC(10,2),
    TUITFTE NUMERIC(10,2),
    AVGFACSAL NUMERIC(10,2),
    CDR2 REAL CHECK ((CDR2 BETWEEN 0 AND 1) OR CDR2 IS NULL),
    CDR3 REAL CHECK ((CDR3 BETWEEN 0 AND 1) OR CDR3 IS NULL),
    CONSTRAINT PK_INSTITUTION_FINANCIAL PRIMARY KEY (UNITID, YEAR),
    -- Every financial row must correspond to a known institution
    CONSTRAINT FK_FINANCIAL_IPEDS FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

-- Admissions data (Scorecard)
CREATE TABLE institution_admissions (
    UNITID INTEGER NOT NULL,
    YEAR SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),
    ADM_RATE REAL CHECK (ADM_RATE BETWEEN 0 AND 1),

    -- SAT measures (200–800 or NULL)
    SATVR25 REAL CHECK ((SATVR25 BETWEEN 200 AND 800) OR SATVR25 IS NULL),
    SATVR75 REAL CHECK ((SATVR75 BETWEEN 200 AND 800) OR SATVR75 IS NULL),
    SATMT25 REAL CHECK ((SATMT25 BETWEEN 200 AND 800) OR SATMT25 IS NULL),
    SATMT75 REAL CHECK ((SATMT75 BETWEEN 200 AND 800) OR SATMT75 IS NULL),
    SATWR25 REAL CHECK ((SATWR25 BETWEEN 200 AND 800) OR SATWR25 IS NULL),
    SATWR75 REAL CHECK ((SATWR75 BETWEEN 200 AND 800) OR SATWR75 IS NULL),
    SATVRMID REAL CHECK ((SATVRMID BETWEEN 200 AND 800) OR SATVRMID IS NULL),
    SATMTMID REAL CHECK ((SATMTMID BETWEEN 200 AND 800) OR SATMTMID IS NULL),
    SATWRMID REAL CHECK ((SATWRMID BETWEEN 200 AND 800) OR SATWRMID IS NULL),

    -- ACT measures (1–36 or NULL)
    ACTCM25 REAL CHECK ((ACTCM25 BETWEEN 1 AND 36) OR ACTCM25 IS NULL),
    ACTCM75 REAL CHECK ((ACTCM75 BETWEEN 1 AND 36) OR ACTCM75 IS NULL),
    ACTEN25 REAL CHECK ((ACTEN25 BETWEEN 1 AND 36) OR ACTEN25 IS NULL),
    ACTEN75 REAL CHECK ((ACTEN75 BETWEEN 1 AND 36) OR ACTEN75 IS NULL),
    ACTMT25 REAL CHECK ((ACTMT25 BETWEEN 1 AND 36) OR ACTMT25 IS NULL),
    ACTMT75 REAL CHECK ((ACTMT75 BETWEEN 1 AND 36) OR ACTMT75 IS NULL),
    ACTWR25 REAL CHECK ((ACTWR25 BETWEEN 1 AND 36) OR ACTWR25 IS NULL),
    ACTWR75 REAL CHECK ((ACTWR75 BETWEEN 1 AND 36) OR ACTWR75 IS NULL),
    ACTCMMID REAL CHECK ((ACTCMMID BETWEEN 1 AND 36) OR ACTCMMID IS NULL),
    ACTENMID REAL CHECK ((ACTENMID BETWEEN 1 AND 36) OR ACTENMID IS NULL),
    ACTMTMID REAL CHECK ((ACTMTMID BETWEEN 1 AND 36) OR ACTMTMID IS NULL),
    ACTWRMID REAL CHECK ((ACTWRMID BETWEEN 1 AND 36) OR ACTWRMID IS NULL),

    SAT_AVG REAL CHECK ((SAT_AVG BETWEEN 200 AND 2400) OR SAT_AVG IS NULL),

    CONSTRAINT PK_INSTITUTION_ADMISSIONS PRIMARY KEY (UNITID, YEAR),
    CONSTRAINT FK_ADMISSIONS_IPEDS FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

-- Completion data (Scorecard)
CREATE TABLE institution_completion (
    UNITID INTEGER NOT NULL,
    YEAR SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),
    C150_4 REAL,
    C150_4_WHITE REAL,
    C150_4_BLACK REAL,
    C150_4_HISP REAL,
    C150_4_ASIAN REAL,
    C150_4_AIAN REAL,
    C150_4_NHPI REAL,
    C150_4_2MOR REAL,
    C150_4_NRA REAL,
    C150_4_UNKN REAL,
    CONSTRAINT PK_INSTITUTION_COMPLETION PRIMARY KEY (UNITID, YEAR),
    CONSTRAINT FK_COMPLETION_IPEDS FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

-- Earnings data (Scorecard)
CREATE TABLE institution_earnings (
    UNITID INTEGER NOT NULL,
    YEAR SMALLINT NOT NULL CHECK (YEAR BETWEEN 1980 AND 2100),
    MN_EARN_WNE_INC1_P6 REAL,
    MN_EARN_WNE_INC2_P6 REAL,
    MN_EARN_WNE_INC3_P6 REAL,
    MN_EARN_WNE_INDEP0_INC1_P6 REAL,
    MN_EARN_WNE_INDEP0_P6 REAL,
    MN_EARN_WNE_INDEP1_P6 REAL,
    MN_EARN_WNE_MALE0_P6 REAL,
    MN_EARN_WNE_MALE1_P6 REAL,
    CONSTRAINT PK_INSTITUTION_EARNINGS PRIMARY KEY (UNITID, YEAR),
    CONSTRAINT FK_EARNINGS_IPEDS FOREIGN KEY (UNITID)
        REFERENCES institution_ipeds_info(UNITID)
        ON DELETE CASCADE
);

Running query in 'postgresql://elliehua:***@debprodserver.postgres.database.azure.com:5432/elliehua'

++
||
++
++