In [82]:
import sys
import pandas as pd
import numpy as np

#scorecard_df = pd.read_csv(sys.argv[1])
scorecard_df = pd.read_csv("/Users/betsyfrdmn/Desktop/Blitzen Group Project/Blitzen/College_Scorecard_export/MERGED2020_21_PP.csv")

year = 2021 # int(sys.argv[1][-14:-10]) + 1
scorecard_df['YEAR'] = year

/var/folders/r9/zx84vhy57q9_n8tk5dnw8g980000gn/T/ipykernel_8145/1191604615.py:6: DtypeWarning: Columns (1729,1908,1909,1910,1911,1912,1913,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2376,2377) have mixed types. Specify dtype option on import or set low_memory=False.
  scorecard_df = pd.read_csv("/Users/betsyfrdmn/Desktop/Blitzen Group Project/Blitzen/College_Scorecard_export/MERGED2020_21_PP.csv")

In [83]:
institution_financial_df = scorecard_df[['UNITID', 'YEAR', 'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'TUITIONFEE_PROG', 'TUITFTE', 'AVGFACSAL', 'CDR2', 'CDR3']]
institution_scorecard_info_df = scorecard_df[['UNITID', 'YEAR', 'ACCREDAGENCY', 'PREDDEG', 'HIGHDEG', 'CONTROL', 'REGION']]
institution_admissions_df = scorecard_df[['UNITID', 'YEAR', 'ADM_RATE', 'SATVR25', 'SATVR75', 'SATMT25', 'SATMT75', 'SATWR25', 'SATWR75',
                                          'SATVRMID', 'SATMTMID', 'SATWRMID', 'ACTCM25', 'ACTCM75', 'ACTEN25', 'ACTEN75', 'ACTMT25', 
                                          'ACTMT75', 'ACTWR25', 'ACTWR75', 'ACTCMMID', 'ACTENMID', 'ACTMTMID', 'ACTWRMID', 'SAT_AVG']]

institution_financial_df = institution_financial_df.where(pd.notna(institution_financial_df), None)
institution_scorecard_info_df = institution_scorecard_info_df.where(pd.notna(institution_scorecard_info_df), None)
institution_admissions_df = institution_admissions_df.where(pd.notna(institution_admissions_df), None)
institution_financial_df = institution_financial_df.replace({pd.NA: None, np.nan: None})
institution_scorecard_info_df = institution_scorecard_info_df.replace({pd.NA: None, np.nan: None})
institution_admissions_df = institution_admissions_df.replace({pd.NA: None, np.nan: None})

In [84]:
print(len(scorecard_df))
print(scorecard_df[['UNITID', 'YEAR', 'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'TUITIONFEE_PROG', 'TUITFTE', 'AVGFACSAL', 'CDR2', 'CDR3']].isna().sum())

6681
UNITID                0
YEAR                  0
TUITIONFEE_IN      2846
TUITIONFEE_OUT     2846
TUITIONFEE_PROG    4409
TUITFTE             577
AVGFACSAL          2757
CDR2               6681
CDR3                932
dtype: int64

In [85]:
from sqlalchemy import create_engine
import importlib.util
import credentials_copy
username = "elliehua"
database = "elliehua"
password = credentials_copy.DB_PASSWORD
db_url = f"postgresql://" + username + ":" + password + "@debprodserver.postgres.database.azure.com:5432/" + database
engine = create_engine(db_url)

In [86]:
%load_ext sql
%sql engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%sql -x;

RuntimeError: Could not close connection because it was not found amongst these: ['postgresql://elliehua:***@debprodserver.postgres.database.azure.com:5432/elliehua']

In [87]:
%%sql
select * 
from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
WHERE TABLE_NAME = 'institution_scorecard_info';

Running query in 'postgresql://elliehua:***@debprodserver.postgres.database.azure.com:5432/elliehua'

4 rows affected.

+--------------------+-------------------+------------------------------------------+---------------+--------------+----------------------------+-----------------+---------------+--------------------+----------+----------------+
| constraint_catalog | constraint_schema |             constraint_name              | table_catalog | table_schema |         table_name         | constraint_type | is_deferrable | initially_deferred | enforced | nulls_distinct |
+--------------------+-------------------+------------------------------------------+---------------+--------------+----------------------------+-----------------+---------------+--------------------+----------+----------------+
|      elliehua      |       public      | institution_scorecard_info_control_check |    elliehua   |    public    | institution_scorecard_info |      CHECK      |       NO      |         NO         |   YES    |      None      |
|      elliehua      |       public      |      pk_institution_scorecard_info       |    elliehua   |    public    | institution_scorecard_info |   PRIMARY KEY   |       NO      |         NO         |   YES    |      None      |
|      elliehua      |       public      |          2200_44092_1_not_null           |    elliehua   |    public    | institution_scorecard_info |      CHECK      |       NO      |         NO         |   YES    |      None      |
|      elliehua      |       public      |          2200_44092_2_not_null           |    elliehua   |    public    | institution_scorecard_info |      CHECK      |       NO      |         NO         |   YES    |      None      |
+--------------------+-------------------+------------------------------------------+---------------+--------------+----------------------------+-----------------+---------------+--------------------+----------+----------------+

In [88]:
# insert_dataframe.py
import psycopg2
import pandas as pd
import credentials_copy

def insert_dataframe(df, table_name, host_name, db_name, user_name, pw):
    """
    Inserts all rows of a DataFrame into a SQL table using parameterized
    prepared statements. Rolls back if any row fails.
    """

    # Create column list: ("col1", "col2", ...)
    columns = list(df.columns)
    col_names = ", ".join(columns)
    placeholders = ", ".join([f"%({c})s" for c in columns])  # named parameters

    insert_sql = f"""
        INSERT INTO {table_name} ({col_names})
        VALUES ({placeholders});
    """
    fail_count = 0
    total_read = 0
    try:
        with psycopg2.connect(host=host_name, dbname=db_name, user=user_name, password=pw) as conn:
            with conn.cursor() as cur:

                for _, row in df.iterrows():
                    # Convert Series â†’ dict for named placeholders
                    row_dict = row.to_dict()

                    try:
                        cur.execute(insert_sql, row_dict)

                    except psycopg2.errors.ForeignKeyViolation as e:
                        print(f"Foreign key violation on row: {row_dict}")
                        print(e)
                        conn.rollback()
                        #return
                        fail_count += 1
                    except Exception as e:
                        print(f"Error inserting row: {row_dict}")
                        print(e)
                        conn.rollback()
                        fail_count += 1
                        #return
                    
                    total_read += 1

                conn.commit()
                print(f"{total_read} rows read successfully.")
                print(f"{total_read - fail_count} rows loaded successfully.")
                print(f"{fail_count} rows unsuccessfully loaded.")

    except Exception as e:
        print("Connection or execution error:")
        print(e)


host="debprodserver.postgres.database.azure.com"
dbname=credentials_copy.DB_USER
user=credentials_copy.DB_USER
password=credentials_copy.DB_PASSWORD

insert_dataframe(institution_scorecard_info_df, "institution_scorecard_info", host, dbname, user, password)

6681 rows read successfully.
6681 rows loaded successfully.
0 rows unsuccessfully loaded.

In [ ]:
conn_string = "postgresql://username:password@localhost:5432/mydb"
insert_dataframe(institution_financial_df, "institution_financial", conn_string)